body {
  margin: 0px;
}
.header {
  display: inline-flex;
  background: blue;
  width: 100%;
  padding: 20px;
}

.header a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: times-new-roman;
}
#hamburger{
    display: none;
}
@media only screen and (max-width: 600px){
    .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 50px; 
    }
    .menu a{
      margin-top: 5px;
    }
    .header{
      height: unset;
    }
    #header__logo{
        margin-left: 20px;
    }
    #hamburger{
        font-size: 20px;
        color: white;
        display: block;
    }
}
